<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Xrms" nopResource="Xrms.Admin" PermissionNames="XrmsManageMaterials,XrmsManageMaterialGroups,XrmsManageSuppliers,XrmsManageTables,XrmsManageWaiterOrders,XrmsManageCashierOrders,XrmsManageKitchenOrders" IconClass="fa-book" >
    <siteMapNode SystemName="Materials" nopResource="Xrms.Admin.Materials" PermissionNames="XrmsManageMaterials" controller="Material" action="List" IconClass="fa-dot-circle-o"/>
    <siteMapNode SystemName="MaterialGroups" nopResource="Xrms.Admin.MaterialGroups" PermissionNames="XrmsManageMaterialGroups" controller="MaterialGroup" action="List" IconClass="fa-dot-circle-o"/>
    <siteMapNode SystemName="Suppliers" nopResource="Xrms.Admin.Suppliers" PermissionNames="XrmsManageSuppliers" controller="Supplier" action="List" IconClass="fa-dot-circle-o"/>
    <siteMapNode SystemName="Tables" nopResource="Xrms.Admin.Tables" PermissionNames="XrmsManageTables" controller="Table" action="List" IconClass="fa-dot-circle-o"/>
    <siteMapNode SystemName="Waiter" nopResource="Xrms.Admin.Waiter" PermissionNames="XrmsManageWaiterOrders" controller="WaiterOrder" action="List" IconClass="fa-dot-circle-o" />
    <siteMapNode SystemName="Cashier" nopResource="Xrms.Admin.Cashier" PermissionNames="XrmsManageCashierOrders" controller="CashierOrder" action="List" IconClass="fa-dot-circle-o" />
    <siteMapNode SystemName="Kitchen" nopResource="Xrms.Admin.Kitchen" PermissionNames="XrmsManageKitchenOrders" controller="KitchenOrder" action="List" IconClass="fa-dot-circle-o" />
  </siteMapNode>
</siteMap>

